*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    background-color: #3f6142;
    padding: 0;
    margin: 0 auto;
    width: 1920px;
    height: 1080px;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*HEADER*/
.header {
    position: absolute;
    top: 32px;
    left: 44px;
    right: 44px;
    z-index: 1;
    width: 1820px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation_list {
    display: flex;
    gap: 0 45px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation_link {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.navigation_link:hover,
.navigation_link:focus {
    border-bottom: 4px solid #406343;
}

.controls {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 0 35px;
}

.controls_button {
    background-color: transparent;
    border: none;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
}

.controls_items button svg {
    fill: #ffffff;
}

.promo {
    width: 100%;
    height: 100%;
}

.promo_image {
    width: 100%;
    display: block;
}

.promo_text-li-n {
    position: absolute;
    top: 333px;
    left: 312px;
    transition: transform 0.3s ease-in;
}

.promo_text-li-n:hover {
    transform: scale(0.95);
}

.promo_text {
    position: absolute;
    top: 670px;
    right: 147px;
    width: 429px;
}

.promo_text h2 {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 18px;
}

.promo_text p {
    color: rgba(179, 179, 179, 0.8);
    margin-top: 0;
}

.promo_controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px 0;
    position: absolute;
    left: 926px;
    top: 752px;
    margin-left: -190px;
}

.promo_scroll_button {
    background-color: transparent;
    border: none;
    width: 69px;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
}

.promo_scroll_button svg {
    fill: #ffffff;
}

.button {
    font-size: 25px;
    line-height: 38px;
    font-weight: 700;
    border: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 0 20px;
    padding: 22px 47px 20px;
    background-color: #406343;
    box-shadow: -25px 0 50px rgba(0, 0, 0, 0.1), 25px -25px 50px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    cursor: pointer;
}

.button svg {
    fill: #ffffff;
}